.commentListItem {
    background-color: burlywood;
}

.commentHeader {
    background-color: darkgray;
}

.commentContent {
    background-color: darkgoldenrod;
    font-style: oblique;
    font-family: Calibri;
}